<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=yes">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/global.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <style>
      .row.content {height: 1000px}
      .sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;
      height: 100%;
      }
      @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;}
      }

      .jumbotron{
           position: relative;
           background: none;

       }
       h1{
           text-align: center ;
       }
       p{
           text-align: center;
       }
    </style>
</head>
<body>
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <span class="navbar-brand mb=0 h1"><img src="/static/cbitlogo.png" width="40" alt=""></span>
    <h3 style="color: white;">{{data.0.clubname}}</h3>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item"><a href="{%url 'show_events'%}" class="nav-link" style="color: white;">Home</a></li>
       <li class="nav-item"><a href="{%url 'profile'%}" class="nav-link" style="color: white;">My profile</a></li>
       <li class="nav-item"><a href="{%url 'home'%}" class="nav-link" style="color: white;">logout</a></li>
    </ul>
  </nav>
<div class="container-fluid text-center">
  <div class="row content">
    <div class="col-sm-2 sidenav">
      <img src="/static/logo.png">
      <p><a href="{%url 'show_events'%}"><h3>My Events</h3></a></p>
      <p><a href="{%url 'create_event'%}"><h3>Create an event</h3></a></p>


    </div>
  <div class="col-sm-10 text-left">
       
   {% if data %}  
   <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
     
          <th scope="col">Event Name</th>
          <th scope="col">Event Description</th>
          <th scope="col">Event Incharge</th>
          <th scope="col">Contact No.</th>
          <th scope="col">Last Date of Registration</th>
          <th scope="col">Event Start Date</th>
          <th scope="col">Event End Date</th>
          <th scope="col">Action</th>
    
        </tr>
      </thead>
      <tbody>
      {% for dict_item in data %}
      <form  class="form-container" action="{%url 'deleteevent' %}" method="POST">
        {% csrf_token %} 
        <tr>
         <th scope="row">{{forloop.counter}}</th>
         <td> {{ dict_item.eventname }} </td>
         <td> {{ dict_item.eventdesc }} </td>
         <td> {{ dict_item.eventincharge }} </td>
         <td> {{ dict_item.contactno }} </td>
         <td> {{ dict_item.lastregdate }} </td>
         <td> {{ dict_item.startdate }} </td>
         <td> {{ dict_item.enddate }} </td>
         <td>
          
         <button type="submit" class="btn btn-danger" name="status" value=0>Delete</button>
         <input type="hidden" name="eventname" value= "{{dict_item.eventname}}" >
        </td>
          
        </tr>
      </form> 
        {% endfor %}
      </tbody>
    </table>
  
    {% endif %}
</div>

</div>
</div>



</body>
</html>
   